.canvas {
    min-height : calc(100vh - 3rem);
    flex-direction:column;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.navBox {
    position:absolute;
    top:0;
    width:100%;
    
    padding:0.5rem;
    background-color:var(--tertiary);

    display:flex;
    justify-content: center;
    align-items: center;
    & .navFrame {
        display:flex;
        align-items:center;
    }
}

.buttons {
    list-style-type: none;
    margin-left:auto;
    overflow: hidden;
    & li {
        float:left;
        & a {
            display:block;
            padding:1rem;
            text-align:center;
            &:hover {
                color:var(--primary-fade);
            }
        }
    }
}