.canvas {
    min-height : calc(100vh - 3rem);
    flex-direction:column;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.lower {
    margin-top:4rem !important;
}
.card {
    margin:1rem;
}