.canvas {
    min-height : calc(100vh - 3rem);
    flex-direction:column;
    display:flex;
    align-items: center;
    justify-content: center;
    
}


.underNav {
    margin-top:3rem;
    .card {
        padding:1rem;
    }
}