.back {
    padding-top:1rem;

}
.header {
    display:flex;
    justify-content: space-between;
    color:var(--text);
    padding-top:max(1rem,4vh);
    .title > h1 {
        font-size:1.75rem;
        font-weight:700;
    }
}

.search {
    padding-top:2rem;
    .wider {
        min-width:50%;
        input {
            
            width:100%;
        }
    }
}

.notes {
    margin-top:max(1rem,5vh);
    color:var(--text);
    padding:1rem;
    .add {
        display:flex;
        width:100%;
        justify-content: center;
        font-weight:700;
        color:var(--primary);
        span {
            color:var(--title);
        }
        &:hover span {
            color:var(--text);
        } 
        cursor: pointer;
    }
    .note {
        display:flex;
        width:100%;
        justify-content: space-between;
        align-items: center;
        padding:0.4rem;
        &.colored {
            background-color:var(--background-accent);
        }
        span {
            margin:0px 0.5rem;
            cursor: pointer;
            color:var(--title);
            &:hover {
                color:var(--text);
            }
        }
    }
}

.slideup {
    position:absolute;
    min-height:calc(100vh - 12.5rem);
    top:12.5rem;
    left:0;
    right:0;
    color:var(--text);
    background-color:var(--background-accent);
    padding:1rem;
    padding-top:2.5rem;
    border-radius: 1rem 1rem 0 0;
    & > svg {
        cursor: pointer;
        position:absolute;
        width:1.5rem;
        height:1.5rem;
        top:.75rem;
        fill:var(--title);
        &:hover {
            fill:var(--text);
        }
    }
    .close {
        right:.75rem;
    }
    .edit {
        right: 3rem;
    }
    .text {
        white-space: pre-wrap;
    }
    .name, label {
        color:var(--text);
    }
}


.higherup {
    top:7rem !important;
    min-height:calc(100vh - 7rem) !important;
}