// ==== Fonts ==== //
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');

$font-primary-serif: "Montserrat";
$font-primary-sans-serif: "Roboto Mono";

// ==== Colors ==== //
$primary: #E28413;
$secondary: #E28413;
$tertiary: #EA1744aa;
$background: #4B4D58;
$dark: #D3D0CB;
$text: white;

// CSS vars - don't know why but you can't use sass variables with them
:root {
  --primary: #E28413;
  --background-accent : #222222;
  --background : #333333;
  --title:#7e7e7e;
  --text : #DDDDDD;
  --primary-fade: #E2841388;
  --secondary: #E28413;
  --tertiary: #3d3e44;
  --dark: #D3D0CB;
}

// ==== Bulma globals ==== //
$link: $primary;
$info: $dark;
$body-background-color: #4B4D58;
$family-primary: $font-primary-serif;
$family-secondary: $font-primary-sans-serif;

// Import bulma after you define variables
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
@import "../node_modules/bulma/sass/elements/_all";
@import "../node_modules/bulma/sass/form/_all";
@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/layout/_all";
@import "../node_modules/bulma/sass/elements/button.sass";

html, body, main, #root {
  width:100%;
  height:100%;
  background-color:var(--background);
}

a {
  color : var(--primary);
  &:hover {
    color : var(--text);
  }
}