.navBox {
    position:absolute;
    top:0;
    width:100%;
    
    padding:0.5rem;
    background-color:var(--tertiary);

    display:flex;
    justify-content: center;
    align-items: center;
    & .navFrame {
        display:flex;
        align-items:center;
    }
}